body {
  margin: 0%;
  padding: 0%;
  text-align: center;



}

#header {
  font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;


}

.center {
  margin: auto;
  width: 90%;
}

#navbar {
  background-color: rgb(0, 62, 177);
  height: 60px;
}

#brand {
  display: block;
  float: left;
  width: 22%;
  margin-top: 2px;
  font-size: x-large;
  color: floralwhite;
  /* background-color: green; */
}

#menu {
  float: right;
  width: 70%;
 /* background-color: deeppink; */

}

#menu ul {
  float: right;
  width: 53%;

  line-height: 36px;
  /* background-color: fuchsia; */


}

#menu li {
  list-style: none;
  display: block;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  /* background-color: gold; */
  border-width:3px 3px;

}

#menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 100ms all;

}

#menu a:hover {
  color: rgb(12, 55, 56);
}



#fixfloat {
  clear: both;
  margin: 0px 0px;
  height: 0px;
  padding: 0px;
}

.content {
  background-color: #ccc;
  margin-top: 0px;
  padding-top: 1px;
  width: 100%;
}

.searchForm {
  margin: auto;
  width: fit-content;
  /* background-color: red; */
  height: 40px ;
}
.searchBar {
  float: left;
  height: 20px;
}
.searchButton {
  height: 26px;
  padding: 0px;
}


.footer{
  font-size: small;
}