body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  background-color: rgb(2, 192, 84);
}

#header {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.center {
  margin: auto;
  width: 90%;
}

#navbar {
  height: 60px;

  /* gradiente */
  background: rgba(11, 163, 0, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(11, 163, 0, 1) 0%,
    rgba(13, 135, 6, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(11, 163, 0, 1)),
    color-stop(100%, rgba(13, 135, 6, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(11, 163, 0, 1) 0%,
    rgba(13, 135, 6, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(11, 163, 0, 1) 0%,
    rgba(13, 135, 6, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(11, 163, 0, 1) 0%,
    rgba(13, 135, 6, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(11, 163, 0, 1) 0%,
    rgba(13, 135, 6, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ba300', endColorstr='#0d8706', GradientType=1);
}

#logo {
  display: block;
  float: left;
  width: 56px;
  margin-left: 10px;
}

#brand {
  display: block;
  float: left;
  width: 22%;
  margin-top: 2px;
  font-size: x-large;
  color: floralwhite;
  /* background-color: green; */
}

#menu {
  float: right;
  width: 70%;
  /* background-color: deeppink; */
}

#menu ul {
  float: right;
  width: 53%;

  line-height: 36px;
  /* background-color: fuchsia; */
}

#menu li {
  list-style: none;
  display: block;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  /* background-color: gold; */
  border-width: 3px 3px;
}

#menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 100ms all;
}

#menu a:hover {
  color: rgb(12, 55, 56);
}

#fixfloat {
  clear: both;
  margin: 0px 0px;
  height: 0px;
  padding: 0px;
}

.content {
  /* background-color: #ccc; */
  background-color: rgba(0, 0, 0, 0.103);

  margin-top: 0px;
  padding-top: 1px;
  width: 100%;
  min-height: 580px;
}

.searchForm {
  margin: auto;
  width: fit-content;
  /* background-color: red; */
  height: 40px;
}
.searchBar {
  float: left;
  height: 20px;
}
.searchButton {
  margin-left: 5px;
  height: 26px;
  padding: 0px;
}

.footer {
  font-size: small;
  margin-top: 20px;
}

.formUpload {
  width: 40%;
  margin: auto;
  margin-top: 10px;
  /* background: red; */
  border-style: solid;
  border-width: 1px;
  height: 150px;
}

.inputExcelFile {
  /* background-color: blue; */
  margin-top: 0px;
  display: block;
  height: 100%;
  margin-top: -68px;
  width: 100%;
  opacity: 0%;
}

.formUpload input[type="submit"] {
  margin-top: 10px;
}

.pmessage {
  margin-top: 40px;
}
.bookData {
    background: rgba(255, 255, 255, 0.2);
    margin: 4px auto;
    width: 60%;
    height: 70px;
    margin-top: 5px;
    padding-top: 1px;
}
.booktitle,
.bookauthor,
.bookpublisher {
  display: block;
  margin-top: 5px;
}
.booktitle{
  font-weight: bold;
}
.bookpublisher {
  color: rgba(0, 0, 0, 0.6);
}

.pageButtons {
  margin: 20px 5px;
  height: 25px;
  width: 25px;
}

.loadingGif {
  width: 60px;
}
